<h1>Add to $stylist.getName()'s Clients</a>

<form action='/stylists/$stylist.getId()' method='post'>
  <div class='form-group'>
    <label><h4>Client Name:</h4></label>
    <input type="text" name="newClient" id="newClient" class="form-control">
  </div>
  <button type="submit" class='btn'>Add</button>
</form>
