<h1>Add a New Stylist!</a>

<form action='/' method='post'>
  <div class='form-group'>
    <label><h4>Stylist Name:</h4></label>
    <input type="text" name="newStylist" id="newStylist" class="form-control">
  </div>
  <button type="submit" id="addStylist" class='btn'>Add</button>
</form>
